/* Botão com estados: A fazer, Feito, Não realizado */
.table tbody tr td .btn {
    width: 130px;
    text-decoration: none;
    line-height: 35px;
    display: inline-block;
    border-radius: 30px;
    font-weight: medium;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    font-size: 14px;
    opacity: 1;
    z-index: 998;
}

.table tbody tr td .btn.a-fazer {
    background-color: lightgray;
    color: #1c1a18f3;
    z-index: 998;
}

.table tbody tr td .btn.feito {
    background-color: #32cd32;
    color: #ffffff;
    z-index: 998;
}

.table tbody tr td .btn.nao-realizado {
    background-color: #ff1046;
    color: #ffffff;
    z-index: 998;
}

.table tbody tr td .btn:hover {
    opacity: 0.8;
}

/* Estilização do menu mobile com sobreposição ao botão */
.mobile-menu {
    z-index: 1000; /* Garante que o menu fique sobre os botões */
}

/* Estilização geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.table-container {
    padding: 0 10%;
    margin: 40px auto 0;
}

.heading {
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
    font-style: italic;
    color: #ffc154;
    margin-top: 120px;
    margin-bottom: 30px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table thead {
    background-color: #1c1a18f3;
}

.table thead tr th {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.35px;
    color: #ffc154;
    padding: 12px;
    vertical-align: top;
    border: 1px solid transparent;
}

.table tbody tr td {
    font-size: 1rem;
    font-weight: normal;
    color: #1c1a18f3;
    padding: 8px;
    text-align: center;
}
/* Estilos gerais do menu */
nav {
    z-index: 999;
    top: 0;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Noto Sans', sans-serif;
    background: #1c1a18f3;
    height: 12vh;
    padding: 0 2%;
}
@media (max-width: 768px) {
    .table thead {
        display: none;
    }

    .table, .table tbody, .table tr, .table td {
        display: block;
        width: 100%;
    }

    .table tr {
        margin-bottom: 15px;
        border: 1px solid #1c1a18f3;
    }

    .table tbody tr td {
        text-align: right;
        padding-left: 50%;
        position: relative;
    }

    .table td:before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: 600;
        font-size: 1rem;
        text-align: left;
    }
}
.btn {
    width: 130px;
    text-decoration: none;
    line-height: 35px;
    display: inline-block;
    border-radius: 30px;
    font-weight: medium;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    font-size: 14px;
    opacity: 1;
    background-color: #f8c66f;
    cursor: pointer;}

/* Footer */
.footer-content {
    width: 100%;
    height: 100px;
    background: #1c1a18;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2% 5%;
    color: #fdfdfd;
}

@media screen and (max-width: 700px) {
    .footer-content {
        flex-direction: column;
    }
}
.login-item {
    position: relative; /* Posicionar o submenu corretamente */
    display: flex; /* Alinha o botão e o submenu */
    flex-direction: column; 
    align-items: center; 
}

.login-submenu {
    display: none; 
    position: absolute; /* Posicionado em relação ao pai (login-item) */
    top: 100%; /* Coloca o submenu logo abaixo do botão "Entrar" */
    left: 50%; /* Posiciona à esquerda do centro */
    transform: translateX(-50%); /* Centraliza o submenu horizontalmente */
    background-color: #ffc154; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
    padding: 10px;
    border-radius: 5px;
    z-index: 1; 
    max-width: 100vw; 
}

.login-submenu a {
    display: block; 
    padding: 5px; 
    color: #1C1A18; 
    text-decoration: none; 
}

.login-submenu a:hover {
    background-color: #f8c66f; 
}

.login-item:hover .login-submenu {
    display: block; 
}
.btn-faz{
 z-index: 998;
}