<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seu agendamento</title>
    <link rel="stylesheet" href="../../public/assets/css/style.css">
    <link rel="shortcut icon" type="imagex/png" href="public/assets/img/favicon.png">
    <link rel="stylesheet" href="../../public/assets/css/seu_agendamento.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
            integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
    
    <header>
        <nav>
            <img src="../../public/assets/img/logo.png" alt="Don' Vini logo" class="logo">
            <div class="mobile-menu" style="z-index: 999;">
            </div>
            <ul class="nav-list">
                <li><a href="../../index.html">Início</a></li>
                <li class="login-item">
					<a href="#" id="login-button" id="login-button">Cliente</a>
                    <div class="login-submenu">
                        <a href="../controllers/logout.php" id="aSair">Sair</a>
                    </div>
                </li>
            </ul>
        </nav>
    </header>
    

    <main>
        <div class="table-container" id="table">
            <h1 class="heading">Seu agendamento</h1>
            <table class="table">
                <thead>
                    <tr>
                    	<th>Local</th>
                        <th>Nome Fun.</th>
                        <th>Dia</th>
                        <th>Horário</th>
                        <th>Serviço</th>
                        <th>Preço</th>
                        <th>Alterar</th>
                    </tr>
                </thead>
                <tbody id="table-body"> 
                    <!-- Campo preenchido pelo js -->
                </tbody>
            </table>
            <div class="button-container">
                <a class="btn" href="escolha_unidades.html">Agendar</a>
            </div>

            <!--rodapé da tabela-->  
            <div class="footer-table"></div>
        </div>
		<div class="container" id="alterar-container" style="display: none;">
		    <div class="content first-content">
		        <div class="second-column">
		            <h2 class="title title-second">Alterar Agendamento</h2>
		            <form id="form-alterar">
		                <input type="hidden" name="idAgendamento" id="idAgendamento"> <!-- ID invisível com o input hidden -->
		                
		                <!-- Local -->
		                <label class="label-input">
		                    <span>Local</span>
		                    <select id="alterar-local" name="alterarLocal" required>
		                        <option value="1">1</option>
		                        <option value="2">2</option>
		                    </select>
		                </label>
		                
		                <!-- Funcionário -->
		                <label class="label-input">
		                    <span>Funcionário</span>
		                    <select id="alterar-funcionario" name="alterarFuncionario" required>

		                    </select>
		                </label>
		                
		                <!-- Dia -->
		                <label class="label-input">
		                    <span>Dia</span>
		                    <input type="date" id="alterar-dia" name="alterarDia" required>
		                </label>
		                
		                <!-- Horário -->
		                <label class="label-input">
		                    <span>Horário</span>
		                    <input type="time" id="alterar-horario" name="alterarHorario" required>
		                </label>
		                
		                <!-- Corte -->
		                <label class="label-input">
		                    <span>Corte</span>
		                    <select id="alterar-corte" name="alterarCorte" required>
		                        <option value="Corte 3">Sem Corte</option>
		                    </select>
		                </label>
		                
		                <!-- Barba -->
		                <label class="label-input">
		                    <span>Barba</span>
		                    <select id="alterar-barba" name="alterarBarba" required>
		                        <option value="Sem Barba">Sem Barba</option>
		                    </select>
		                </label>
		                
		                <!-- Cuidados -->
		                <label class="label-input">
		                    <span>Cuidados</span>
		                    <select id="alterar-cuidados" name="alterarCuidados" required>
		                        <option value="Sem Cuidados">Sem Cuidados</option>
		                    </select>
		                </label>
		                
		                <!-- Preço -->
		                <label class="label-input">
		                    <span>Preço</span>
		                    <span id="alterar-preco" name="alterarPreco">R$ 00,00</span>
		                </label>
		                <div class="precos-individuais">
						    <p>Corte: R$ <span id="preco-corte">0.00</span></p>
						    <p>Barba: R$ <span id="preco-barba">0.00</span></p>
						    <p>Cuidados: R$ <span id="preco-cuidados">0.00</span></p>
						</div>
		                
		                <div class="btn-group">
		                    <button type="button" id="confirmar-alteracao" class="btn btn-second">Salvar Alterações</button>
		                    <button type="button" id="cancelar-alteracao" class="btn btn-second cancel-btn">Cancelar</button>
		                </div>
		            </form>
		        </div>
		    </div>
		</div>


    </main>
    <div class="container" id="first-container" style="display: none;"> 
        <div class="content first-content"> 
            <div class="second-column">
                <h2 class="title title-second">Alterar Dados do Agendamento</h2>
                <p class="description description-second">Insira a senha para conseguir alterar o agendamento</p>
                <form id="formAlterarAgendamentoPassword" class="form">
                    <label class="label-input">
                        <div class="space_icon">
                            <i class="fas fa-lock icon-modify"></i> 
                        </div>
                        <input type="password" placeholder="Senha atual" name="senha" maxlength="50" id="password-1">
                        <div class="btn-fig">
                            <i class="bi bi-eye" id="btn-password-1"></i>
                        </div>
                    </label>
                    <button type="button" class="btn1 btn-second" id="edit-password-product">Confirmar</button>       
                </form>
            </div>
        </div>
    </div>
    

    <div class="container" id="second-container" style="display: none;"> 
        <div class="content first-content"> 
            <div class="second-column">
                <h2 class="title title-second">Excluir Agendamento</h2>
                <p class="description description-second">Você tem certeza de que vai excluir este agendamento?</p>
                <button type="button" class="btn1 btn-second" id="delete-password-product">Excluir</button>
                <br>
                <div style="text-align: center;">
                    <button type="button" id="cancelar-exclusao" class="btn btn-second cancel-btn">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="footer-content">
            <p>&copy; 2024 Barbearias Don' Vini. Todos os direitos reservados.</p>
            <p>Por: RootingTI</p>
        </div>
    </footer> 

    <script src="../../public/assets/js/mobile-navbar.js"></script>
    <script src="../../public/assets/js/seu_agendamento.js"></script>
</body>
</html>
